<h1>Ürünler</h1>
<ul><% @products.each do |product| %>
  <li>
    <%= link_to product.name, product_path(product) %>
  <% end %></li>
</ul>

<div><%= link_to 'Yeni Ürün Oluştur', new_product_path %></div>
<p><%= link_to 'Tüm Markaları Görüntüle', brands_path %></p>